@import "tailwindcss";


:root {
    --blue: #218DFA;
    --white: #F5F7FB;
    --black: #212121;
}


section {
    padding: 1rem 4rem;
    background-color: #FFF;
}

body {
    background-color: var(--white);
}

@media (max-width: 640px) {
    section {
        padding: 1rem;
    }
}

