.products-section,
.products-container {
    background-color: var(--white);
}

.product {
    background-color: #FFF;
    border-radius: 6px;
}

.product img {
    border-radius: 6px 6px 0px 0px;
}

.product button {
    border: none;

}

.product button:hover {
    color: gray;
    transition: 0.5s;
}

.product:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

@media (max-width: 1024px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .products-section {
        width: 98%;
    }
}